tests/test
*.o
CodeCategorize.conf
*.log
programs/count-all-solutions
programs/count-solutions
programs/print-solutions
CMakeFiles
CMakeCache.txt
.DS_Store
Makefile
cmake_install.cmake
*.a
test
test-constraint-compatibility
test-constraint-commutation
test-constraint-commutation-compatibility
test-constraints-row-ordered
tests/constraints/interactions/*.cc